<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>menu</title>
    <style>

        table,th,td{
            border:2px solid #868b8e;
            border-collapse: collapse;
        }
        table{
            width:1200px;
            text-align: center;
        
        }
        div{
            margin:70px 70px 70px 70px;
            
        }

    </style>
</head>

<body>
    <h1>Here is the menu!!</h1>
   <div id="menu1">
    <table>
       <tr>
        <th >SR. NO.</th>
        <th id="dish">DISH NAME</th>
        <th id="descr">DESCRIPTION</th>
        <th id="ingre">INGRIDIENTS</th>
        <th>PRICE</th>
        <th>CALORIES</th>
        <th>SQUEEZING</th>
        <th>USER RATING</th>
        <th>CHOICE</th>
       </tr>
       <tr>
        <td>1</td>
        <td>Paneer Kofta</td>
        <td>Spicy,Tasty,Delicious</td>
        <td>Paneer,Kofta,Gravy</td>
        <td>Rs.250/-</td>
        <td>360cal</td>
        <td>Indian</td>
        <td>5/10</td>
        <td>
            <button id="button">Add to cart</button>
        </td>
        
       </tr>
       <tr>
        <td>1</td>
        <td>Paneer Kofta</td>
        <td>Spicy,Tasty,Delicious</td>
        <td>Paneer,Kofta,Gravy</td>
        <td>Rs.250/-</td>
        <td>360cal</td>
        <td>Indian</td>
        <td>5/10</td>
        <td>
            <button id="button">Add to cart</button>
        </td>
        
       </tr>
       <tr>
        <td>1</td>
        <td>Paneer Kofta</td>
        <td>Spicy,Tasty,Delicious</td>
        <td>Paneer,Kofta,Gravy</td>
        <td>Rs.250/-</td>
        <td>360cal</td>
        <td>Indian</td>
        <td>5/10</td>
        <td>
            <button id="button">Add to cart</button>
        </td>
        
       </tr>
       <tr>
        <td>1</td>
        <td>Paneer Kofta</td>
        <td>Spicy,Tasty,Delicious</td>
        <td>Paneer,Kofta,Gravy</td>
        <td>Rs.250/-</td>
        <td>360cal</td>
        <td>Indian</td>
        <td>5/10</td>
        <td>
            <button id="button">Add to cart</button>
        </td>
        
       </tr>
       <tr>
        <td>1</td>
        <td>Paneer Kofta</td>
        <td>Spicy,Tasty,Delicious</td>
        <td>Paneer,Kofta,Gravy</td>
        <td>Rs.250/-</td>
        <td>360cal</td>
        <td>Indian</td>
        <td>5/10</td>
        <td>
            <button id="button">Add to cart</button>
        </td>
        
       </tr>
       
    



    </table>
    </div>
   
    
</body>
</html>